/JavaApplication2/nbproject/private/
/BancoDeDados/nbproject/private/
/BancoDeDados/build/
/InterfaceGrafica/nbproject/private/
/InterfaceGrafica/src/AulaoMal/Ling_prog_2026/build/
/InterfaceGrafica/src/AulaoMal/Ling_prog_2026/nbproject/private/
/InterfaceGrafica/build/
/PROVA21/nbproject/private/
/PROVA21/build/
/prova/nbproject/private/
/prova/build/
